body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.search-container {
  position: fixed;
  top: 20px; /* Adjust this value to position the search bar lower or higher */
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-container input {
  width: 450px; /* Adjust width as needed */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.search-icon {
  font-size: 16px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.filter-container {
  margin-top: 100px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.filter-container div {
  margin-bottom: 10px;
}

.filter-container label {
  display: block;
  margin-bottom: 5px;
}

.filter-container input,
.filter-container select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.filter-container button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-container button:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.pagination button {
  padding: 12px 20px;
  margin: 0 8px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pagination button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination button:disabled:hover {
  background-color: #cccccc;
  transform: none;
}